@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

html {
    scrollbar-gutter: stable;
}

:focus-visible {
    outline: 2px solid var(--color-blue-500);
    outline-offset: 4px;
    border-radius: 4px;
}